<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ByteShare - Profile</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script src="../static/js/account.js"></script>
</head>
<body class="d-flex flex-column min-vh-100" style="background-color: #121212">

<div class="container-fluid mt-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded rounded-3 shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="../static/logo.svg" alt="logo" width="35" class="d-inline-block align-text-center img-fluid">
                ByteShare
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/upload_file">Share File</a>
                    </li>
                </ul>

                <div class="navbar-nav ms-auto">
                    <div class="btn-group p-2">
                        <a href="/profile" class="btn btn-success shadow border border-2"
                           aria-current="page">Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid d-flex justify-content-center pt-5">
    <div class="card bg-dark text-light shadow" style="width: 18rem;">
        <img src="data:image/svg+xml;base64,{{ account_data.profile_image }}" class="card-img-top" alt="Profile Image">
        <div class="card-body text-center">
            <h5 class="card-title">{{ account_data.username }}</h5>
            <div class="dropdown pt-2">
                <button class="btn btn-dark border border-2 shadow" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <div class="container-fluid d-flex align-items-center">
                        <img src="../static/settings.svg" width="24px" alt="Settings">
                    </div>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a type="button" class="dropdown-item" onclick="loadDeleteModal()">Delete Account</a>
                </div>
            </div>
            <hr>
            <a href="/logout" class="btn btn-danger shadow">Logout</a>
        </div>
    </div>
</div>

<footer class="d-flex justify-content-center mt-auto p-3 bg-dark text-white rounded-3 m-3 shadow">
    ByteShare &#169; 2023
</footer>

<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your account?
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger shadow" onclick="deleteAccount('{{ account_data.username }}')">Yes,
                    delete my account</a>
                <button type="button" class="btn btn-success shadow" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    function loadDeleteModal() {
        let pdfModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        pdfModal.show();
    }
</script>

</body>
</html>